<html>
    <head>   
      <%- include('./layout/head'); %> 
    </head>

    <body>
    
    <%- include('./layout/header'); %> 
    
	<main role="main">
		  <!-- Main jumbotron for a primary marketing message or call to action -->

		  <div class="container">
			<div class="container">
				<div class="row">
				  <div class="fourcol">
					<section class="group1">
					  <h5>About us</h5>
					  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
					  <a class="photo_hover3" href="#"><img src="images/picture1.jpg" width="215" height="137" alt=""></a> <a href="#"><span class="button">Read more</span></a> </section>
				  </div>
				  <div class="fourcol">
					<section class="group2">
					  <h5>Products</h5>
					  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
					  <a class="photo_hover3" href="#"><img src="images/picture2.jpg" width="215" height="137" alt=""></a> <a href="#"><span class="button">Read more</span></a> </section>
				  </div>
				  <div class="fourcol last">
					<section class="group3">
					  <h5>Gallery</h5>
					  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero. </p>
					  <a class="photo_hover3" href="#"><img src="images/picture3.jpg" width="215" height="137" alt=""></a> <a href="#"><span class="button">Read more</span></a> </section>
				  </div>
				</div>
			  </div>

		  </div> <!-- /container -->

	</main>


	
	</body>
	<footer>
	<%- include('./layout/footer'); %> 
	</footer>
</html>