<link rel="stylesheet" type="text/css" href="css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen">
<footer>
    <div class="container copyright">
      <div class="row">
        <div class="sixcol">
          <div id="FooterTree"> &copy; Khanh's website </div>
        </div>
        <div class="sixcol last">
          <div id="FooterTwo">Contact to <a target="_blank" href="https://www.facebook.com/profile.php?id=100008450620416">Khanh</a></div>
        </div>
      </div>
    </div>
  </footer>