<link rel="stylesheet" type="text/css" href="css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen">

</head>
<body>
<div class="container">
  <div class="row">
    <!--start header-->
    <header>
      <!--start logo-->
      <div class="sixcol"> <a href="/" id="logo"><img src="images/logo.png" width="303" height="120" alt=""></a> </div>
      <!--end logo-->
      <!--start menu-->
      <div class="sixcol last">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Product </a></li>
            <li><a href="/payment">Payment</a></li>
            <li><a href="/order">Order</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="/login">Login </a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/qr">QR Code</a></li>
            <li class="nav-item">
              <i class="fa fa-shopping-cart" style="color: #904A30;font-size:30px"></i>
              <span id="somonhang" style="color:#904A30">-</span>
              </li>

          </ul>
        </nav>
      </div>
      <!--end menu-->
      <img src="images/cake.png" width="350" height="256" alt="" class="cake">
      <!--end header-->
    </header>
  </div>
</div>
<!--start intro-->
<div class="container">
  <div class="row">
    <section id="intro" class="onecol">
      <hgroup>
        <h1>CAKES AND COOKIES SHOP</h1>
        <h2>I made html5 patisserie template with 1140 css grid great for making a responsive design that is optimized to work on any device: iphone, ipad, small tablet, small phone. </h2>
      </hgroup>
      <a href="/user" class="button1">Don't have account? Create new user here</a> </section>
  </div>
</div>
<!--end intro-->
<div class="container">
  <div class="row">
    <div class="holder_content1">
      <section class="group4">
        <h3>Latest news</h3>
        <article>
          <h4>10.12.2011 - New cakes <span>Cras quis libero, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut </span></h4>
        </article>
      </section>
    </div>
    <!--end holder-->
  </div>
</div>
      </div>
    </nav>
  </header>